<div id="title" class="jumbotron">
        <h1 id="friend_finder" class="text-center"> <i class="far fa-grin-hearts"></i> Friend Finder</h1>
        <hr>
        <p id="intro">Answer a few basic questions.<br> Then find the friend with the greatest compatibility</p> 
        <a href="/survey.html"><button type="button" class="btn btn-lg btn-danger" id="to_survey"><h4><i class="far fa-edit"></i> Go to Survey</h4></button></a>
</div>