body {

    box-sizing: border-box;

}

#title {
    max-width: 1200px;
    align-content: center;
    margin: auto;

}
#friend_finder{
    font-size: 60px;
}
#intro {
    font-size: 24px;
}

#survey{
    margin: 50px;
}

.select{
    color: blue;
}